body{
    font-family: sans-serif;
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;

}
}

a{
    text-decoration: none;
    color: whitesmoke;
}
header{
    display: flex;
    height: 70px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    margin-right: 10px;
}

.logo img{
      height: 50px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: blue;
}

p{
    text-align: justify;
    text-size-adjust: ;
}
main{
    font-family: sans-serif;

}
.sobrenosotros{
    text-align: center;
    color: black;
}

nav ul{
text-align: left;
}

.img{
    height: 20px;
    width: 20;
}

form{
    display: flex;
    text-align: center;
}

.contactos{
    text-align: center;
    position: absolute;

}    

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;

}

footer a{
    text-decoration: none;
    color: aliceblue;
    text-align: center;
}